.modal-btn {
  padding: 15px 80px;
  background: linear-gradient(92.12deg, #004e92 0.11%, #000428 99.81%);
  color: #fff;
  text-align: center;
  margin-top: 28px;
}
.policy-modal {
  width: 514px !important;
  height: 329px;
  align-items: center;
  padding: 30px 61px !important;
}
.policy-modal h2 {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}
.policy-modal p {
  text-align: center;
}
.modal-img {
  height: 72px;
  width: 72px;
  border-radius: 50%;
  background-color: #70c6794d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 5px;
}

.modal-img > img {
  width: 30%;
}
